$primary-blue: #564fd8;
$secondary-blue: #7974dd;
$secondary-orange: #ffb5a7;
$primary-grey: #cecedc;
$deep-grey: #39383d;

$box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
$mid-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
$darker-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
